// 定义预计根元素 fontSize -> Iphone 6、6s、7、8
$rootFontSize: 375 / 10;

// 定义像素转化为 rem 的函数
@function px2rem($px) {
  @return $px / $rootFontSize + rem;
}

$titleSize: px2rem(16);
$infoSize: px2rem(14);
$minInfoSize: px2rem(12);
$radiusSize: px2rem(6);
$marginSize: px2rem(8);
$checkSize: px2rem(18);
$listGoodsImgSize: px2rem(100);
// statusBar 的高度
$statusBarHeight: px2rem(22);
