@import "./dimens.scss";
@import "./reset.scss";
@import "./colors.scss";

// 文本最多两行展示
.text-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.z-index-2 {
  z-index: 2;
}
.z-index-max {
  z-index: 99999;
}
// 三角形
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: px2rem(8) solid $mainColor;
  border-left: px2rem(6) solid transparent;
  border-right: px2rem(6) solid transparent;
}
// 遮盖层
.cover {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
}
// 单行文本
.single-row-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

// 提交按钮
.page-commit {
  width: 90%;
  height: px2rem(46);
  line-height: px2rem(46);
  margin-left: 5%;
  display: block;
  background-color: $mainColor;
  border-radius: px2rem(50);
  font-size: $titleSize;
  color: white;
  text-align: center;
}
